<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/icons.css" rel="stylesheet" type="text/css" />
    <title>ShowHear - Find Concerts You'll Love</title>
    
    
    <script type="text/javascript" src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.2.custom.js"></script>
    
    <script type="text/javascript" src="Scripts/jquery.ba-outside-events.js"></script>
    <script type="text/javascript" src="Scripts/GigCast.js"></script>
    <script type="text/javascript" src="jquerycookie/jquery.cookie.js"></script>
    <link href="jquery-ui-1.9.2.custom/css/overcast/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css"/>


<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

<script type='text/javascript' src='js/jQuery.tubeplayer.min.js'></script>

    <script id="book_template" type="text/x-jquery-tmpl">
        <li>${name} (${year})</li>
    </script>

    <script id="artist_item_template" type="text/x-jquery-tmpl">
        <div class="artist_item">
            <div onclick="artistDivClick(this.parentNode)" class="sprite-icons-Play-Button">
            </div>
            <span onclick="artistDivClick(this.parentNode)" class="artist_name">${artistName}</span>
            
            <span class="artist_genre">
            </span>
            <input type="hidden" class="artistYoutubeID" value=${youtubeID}> </input>
            <input type="hidden" class="artistURI" value=${artistURI}></input>
            <input type="hidden" class="songkickID" value=${songkickID}></input>
            <input type="hidden" class="venue" value=${venue}></input>
        </div>
    </script>

    <script id="artist_lastfm_link" type="text/x-jquery-tmpl">
        <a target="_blank" class="sprite-icons-LastFM-Small---Gray" href=${lastfmURI}>
        </a>
    </script>

    <script id="artist_songkick_link" type="text/x-jquery-tmpl">
        <a target="_blank" href=${songkickURI}>   
            <img src="/images/sk_white_pink_icon.png" alt="SK" class="songkick_icon" height="17" width="17"/>
        </a>
    </script>

    <script id="artist_genre_tag" type="text/x-jquery-tmpl">
        <div class="genreTag">${genreName}</div>
    </script>

    <script id="event_item" type="text/x-jquery-tmpl">
        <div class="media_item">
            <div class="eventHeader">
                <div class="sprite-icons-Calendar---Red"></div>
                <span class = eventHeaderDate>${date}</span>
                
                <span class = eventHeaderLocation>@ ${venue}</span>
            </div>
            <div class="event_artist_list"/>

            <div style="clear: both;"></div>
        </div>
    </script>

    <script id="info_event" type="text/x-jQuery-tmpl">
        <li>
            ${eventName}
            <a target="_blank" href=${eventPermalink}>
            <div class="ui-state-default" style="display: inline-block;">
                <span class="ui-icon ui-icon-link"></span>
            </div>
            </a>
            <a target="_blank" href=${songkickURI}>   
                <img src="/images/sk_white_pink_icon.png" alt="SK" class="songkick_icon" height="17" width="17"/>
            </a>
        </li>
    </script>

    <script id="info_artist_tmpl" type="text/x-jQuery-tmpl">
        ${artistName}
        <a target="_blank" href=${songkickURI} class="sprite-icons-SongKick-Small---Gray">   
        </a>
    </script>

</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="dialog" title="Update Location">
        <label for="updLocationTxt">New Location</label>
        <input type="text" name="updLocationTxt" id="updLocationTxt" class="text ui-widget-content ui-corner-all" />
</div>

<div id="genreFilterDialog" title="Select Genre">
        <label for="updateGenreText">Genre Filter</label>
        <input type="text" name="updateGenreText" id="updateGenreText" class="text ui-widget-content ui-corner-all" />
</div>

<div id="backgroundImage">

<div class="headerBuffer">
    <div class="myHeader">
        <a class="sprite-icons-Logo topLogo" href=""></a>

        <span class="headerLinks rightFloat">
            <a href="http://showhear.tumblr.com/">
                Blog
            </a>
            <a href="mailto:showhear@gmail.com">
                Contact
            </a>
        </span>
    </div>
</div>

<div class="filterContainer2">

                <div id="tabs">
                  <ul>
                    <li><a href="#tabs-1">Area/Date</a> </li>
                    <li><a href="#tabs-2">Songkick</a></li>
                  </ul>
                  <div id="tabs-1" style:"overflow:auto; position: relative;">
                    <div id="locationChange" class="searchBlock">
                        <span class="redText"> Current City: </span>
                        <span class="whiteText" id="locationText"> (Loading...) </span>
                        <div class="sprite-icons-Up-Button"> </div>
                    </div>

                    <div class="searchBlock">

                        <label for="from" class="redText">
                            From:
                        </label>
                        <input class="calendar-input" type="text" id="from" name="from" readonly/>
                        <label for="from">
                            <div class="sprite-icons-Up-Button"> </div>
                        </label>

                        <label for="to" class="redText">
                            To:
                        </label>
                        <input class="calendar-input" type="text" id="to" name="from" readonly/>
                        <label for="to">
                            <div class="sprite-icons-Up-Button"> </div>
                        </label>
                    </div>
<!--                     <label for="to">to</label>
                    <input type="text" id="to" name="to" style="width: 80px;"/> -->

                    <div class="searchBlock searchBlock-noBorder">
                        <span id="genreChange" class="redText">Genre: <span id="genreFilter" class="whiteText">(None)</span>
                        <div class="sprite-icons-Up-Button"> </div>
                        </span>
                    </div>   

                    <!-- <hr class="hrClear"> -->
                  </div>
                  <div id="tabs-2">
                     Enter your Songkick profile to track events and artists you love.afsdfdsafasEnter your
                    
                    Search by: 
                    <form name="songkickQueryType" class="radioInline" id="songkickQueryType">
                        <input type="radio" name="songkickQueryTypeRadio" value="artist" checked>Tracked Artists
                        <input type="radio" name="songkickQueryTypeRadio" value="event" >Added Events
                    </form>

                    <label for="updLocationTxt">Songkick User</label>
                    


                    <input type="text" name="songkickUserTxt" id="songkickUserTxt" style="width: 80px;"/>

                    
                    <input type="button" onclick="songkickUpdateClick()" value="Go" style="float:right;"/>
                    <div style="clear: both;"></div>
                  </div>
                </div>
<!--     <div class="tabContainer">
        <div class="myTab">
            Area/Date
        </div>
        <div class="myTab inactiveTab">
            Songkick
        </div>
    </div>
    
    <div id="area-Date-Searcher" class="searchBlock">
        <span class="redText"> Current City: </span>
        <span class="whiteText"> Austin </span>
        <div class="sprite-icons-Up-Button"> </div>
    </div>
    <div style="clear: both;"></div> -->
</div>

<div id="main">
    <!-- <div id="playerContainer2" class="ui-widget-content"> -->
        <!-- pc2starton my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;st -->

        <div id="playerScreen"> 
            
            <div id='youtube-player-container'> </div>


            <!-- bottomButtons -->
<!--             <b>Last.FM info:</b>
            <div id="lastFMInfo"> Test Info</div>
            <br />
            <b> Events:</b>
            <div id="playingInfo"> Test Info</div>
            <br /> -->
<!--         <div class="footer22">
            Inside player container
            </div> -->
        <!-- <hr> -->
        <!-- TODO would be good to get this in a separate border -->
        <div id="playingInfo">
            <div class="moreinfoImageDiv">
                <img src="http://userserve-ak.last.fm/serve/126/14973829.jpg" alt="an artist" id="info_image" class="moreinfoImage"/>
            </div>
<!--             <div class="playerButtonContainer" align="right">
                <input type="button" onclick="nextVideoClick()" value="Next"/>
            </div>  -->
            <div class="sprite-icons-Speaker-Small"> </div> <span class="redText"> Now Playing: </span>
            <span id="info_artist"> Loading...</span>
            <br/>
            <div class="sprite-icons-MapPin"> </div> <span class="whiteText"> Venue: </span> A test venue
            <br/>
            <span id="info_lastfm"> 
            </span>
        </div>
        </div> <!-- playerScreen -->
        <!-- <hr> -->
    <!-- </div> playerContainer -->
    <div class="sidebar">
<!--             Quickplay: <input type="button" onclick="quickplayClick()" value="On" />
            <br />
            Headliners Only: <input id="headlinersButton" type="button" onclick="headlinersClick()" value="Off" />
            <br /> -->
 

            <div class ="button_container">Loading... </div>
        <div style="clear: both;"></div>
    </div> <!-- sidebar -->
    <!-- <hr> -->
    <div style="clear: both;"></div>
</div> <!-- main -->
</div> <!-- backgroudnImage -->

<div class="footerDiv">
    <div class="footerContainer">
    <span class="poweredBy">
    ShowHear is Powered by:
    <br/>
    <a class="sprite-icons-SongKick-Footer" href="http://www.songkick.com/"></a>
    <a class="sprite-icons-LastFM-Footer" href="http://www.last.fm/"></a>
    </span>
<a class="sprite-icons-Logo" href=""></a>
    <br/>
    Contact Us | Blog | About Us
    <br/>
    ShowHear.com 2013 - Austin, TX - All rights reserved
    <br/>
    <!-- TODO this takes up more vertical space than needed -->
    <div class="fb-like-box" data-href="http://www.facebook.com/showhear" data-width="292" data-height="180" data-show-faces="true" data-colorscheme="light" data-stream="false" data-header="false"></div>
    after facebook
    <!-- <div style="clear: both;"></div> -->
</div>
</div>  
<!-- <div class="footer2">
    OUtside player container
</div> -->
<!-- on my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;st
 -->
                <ul id="info_shows">
                </ul>
</body>
</html>
    