<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="icon" 
      type="image/png" 
      href="/images/favicon.ico">


    <link href="jquery-ui-1.10.0.custom/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet" type="text/css"/>
    <title>ShowHear - Find Concerts You'll Love</title>
    
    
    <script type="text/javascript" src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="jquery-ui-1.10.0.custom/js/jquery-ui-1.10.0.custom.js"></script>
    
    <script type="text/javascript" src="Scripts/jquery.ba-outside-events.js"></script>
    <script type="text/javascript" src="Scripts/GigCast.js"></script>
    <script type="text/javascript" src="jquerycookie/jquery.cookie.js"></script>

<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

<script type='text/javascript' src='js/jQuery.tubeplayer.min.js'></script>

    <link href="/Styles/icons.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/Site.css" rel="stylesheet" type="text/css" />

    <script id="book_template" type="text/x-jquery-tmpl">
        <li>${name} (${year})</li>
    </script>

    <script id="artist_item_template" type="text/x-jquery-tmpl">
        <div class="artist_item">
            <div onclick="artistDivClick(this.parentNode)" class="sprite-icons-Play-Button">
            </div>
            <span onclick="artistDivClick(this.parentNode)" class="artist_name">${artistName}</span>
            
            <span class="artist_genre">
            </span>
            <input type="hidden" class="artistYoutubeID" value=${youtubeID}> </input>
            <input type="hidden" class="artistURI" value=${artistURI}></input>
            <input type="hidden" class="songkickID" value=${songkickID}></input>
            <input type="hidden" class="venue" value="${showVenue}"></input>
            <input type="hidden" class="playing-Date" value="${showDate}"></input>
            <input type="hidden" class="playing-Day-Week" value="${showDayOfWeek}"></input>
            <input type="hidden" class="showHotlinkURI" value="${showHotlinkURI}"></input>
        </div>
    </script>

    <script id="artist_item_no_vid_template" type="text/x-jquery-tmpl">
        <div class="artist_item no_vid">

            <span class="">${artistName}</span>
            
            <span class="artist_genre">
            </span>
            <input type="hidden" class="artistYoutubeID" value=${youtubeID}> </input>
            <input type="hidden" class="artistURI" value=${artistURI}></input>
            <input type="hidden" class="songkickID" value=${songkickID}></input>
            <input type="hidden" class="venue" value="${showVenue}"></input>
            <input type="hidden" class="playing-Date" value="${showDate}"></input>
            <input type="hidden" class="playing-Day-Week" value="${showDayOfWeek}"></input>
            <input type="hidden" class="showHotlinkURI" value="${showHotlinkURI}"></input>
        </div>
    </script>

    <script id="artist_lastfm_link" type="text/x-jquery-tmpl">
        <a target="_blank" class="sprite-icons-LastFM-Small---Gray" href=${lastfmURI}>
        </a>
    </script>

    <script id="artist_songkick_link" type="text/x-jquery-tmpl">
        <a target="_blank" href=${songkickURI}>   
            <img src="/images/sk_white_pink_icon.png" alt="SK" class="songkick_icon" height="17" width="17"/>
        </a>
    </script>

    <script id="artist_genre_tag" type="text/x-jquery-tmpl">
        <div class="genreTag">${genreName}</div>
    </script>

    <script id="event_item" type="text/x-jquery-tmpl">
        <div class="media_item">
            <div class="eventHeader">
                <div class="sprite-icons-Calendar---Red"></div>
                <span class = eventHeaderDate>${date}</span>
                
                <span class = eventHeaderLocation>@ ${venue}</span>
            </div>
            <div class="event_artist_list"/>

            <div style="clear: both;"></div>
        </div>
    </script>

    <script id="info_event" type="text/x-jQuery-tmpl">
        <li>
            ${eventName}
            <a target="_blank" href=${eventPermalink}>
            <div class="ui-state-default" style="display: inline-block;">
                <span class="ui-icon ui-icon-link"></span>
            </div>
            </a>
            <a target="_blank" href=${songkickURI}>   
                <img src="/images/sk_white_pink_icon.png" alt="SK" class="songkick_icon" height="17" width="17"/>
            </a>
        </li>
    </script>

    <script id="info_artist_tmpl" type="text/x-jQuery-tmpl">
        ${artistName}
    </script>

</head>
<body>
<!--     Test Input
<form>
<input name="fred" size="5" onkeyup="ExpandInput(this);" />
</form> -->

<div style="clear: both;"></div>
<div id="dialog" title="Update Location">
        <!-- <label for="updLocationTxt">New Location</label> -->
        <input type="text" name="updLocationTxt" id="updLocationTxt" class="text ui-widget-content ui-corner-all myui-input" />
</div>

<div id="genreFilterDialog" title="Select Genre">
        <!-- <label for="updateGenreText">Genre Filter</label> -->
        <input type="text" name="updateGenreText" id="updateGenreText" class="text ui-widget-content ui-corner-all myui-input" />
</div>

<div id="songkickUserDialog" title="Enter User">
        <!-- <label for="updateGenreText">Genre Filter</label> -->
        <input type="text" name="updateSongkickText" id="updateSongkickText" class="text ui-widget-content ui-corner-all myui-input" />
</div>

<!-- BEGIN CONTENT -->

<!-- *<span id="inlineDate"> testDate</span> *<button type="button" onclick="dateTestClick()">Click Me!</button>
<div id="inlineDatepicker" class="myui-calendar positionable"> </div> -->

<div id="from" class="myui-calendar positionable"> </div>
<div id="to" class="myui-calendar positionable"> </div>

<!-- <div id="POS-TEST"> HELLO POSITION!!!!! </div> -->

<div id="stickycontainer">
<div id="backgroundImage">

<div class="headerBuffer">
    <div class="myHeader">
        <a class="sprite-icons-Logo topLogo" href=""></a>

        <span class="headerLinks rightFloat">
            <a href="http://showhear.tumblr.com/" class="headerLink">
                Blog
            </a>
            
            <a href="mailto:showhear@gmail.com" class="headerLink">
                Contact Us
            </a>
        </span>
    </div>
</div>

<div class="filterContainer2">

                <div id="tabs" class="myTabs">
                  <ul>
                    <li><a href="#tabs-1"><span class="vert-tab-title"> Area/Date</span></a> </li>
                    <li><a href="#tabs-2"><span class="vert-tab-title"> Songkick</span></a></li>
                  </ul>
                  <div id="tabs-1" style:"overflow:auto; position: relative;">
                    <div id="locationChange" class="searchBlock centerText">
                        <span class="centerTextElement">
                        <span class="redText"> Current City: </span>
                        <span class="whiteText" id="locationText"> (Loading...) </span>
                        <div class="sprite-icons-Up-Button"> </div>
                    </span>
                    </div>

                    <div class="searchBlock centerText dateSearch" id="dateSearch">
                        <span class="centerTextElement" >
                            <span onclick="dateFromSpanClick()" id="fromSpan">
                            <span class="redText">
                                From:
                            </span>
                            <span id="fromText"> testText</span>
                            <!-- <input class="calendar-input" type="text" id="from" name="from" readonly/> -->
                            
                                <div class="sprite-icons-Up-Button"> </div>
                            
                            </span>

                            <span onclick="dateToSpanClick()" id="toSpan">
                            <span for="to" class="redText">
                                To:
                            </span>
                            <span id="toText"> testText</span>
                                <div class="sprite-icons-Up-Button"> </div>
                            </span>
                        </span>
                    </div>
<!--                     <label for="to">to</label>
                    <input type="text" id="to" name="to" style="width: 80px;"/> -->

                    <div class="searchBlock searchBlock-noBorder centerText filterHeader" id="filterHeader">
                        <span class="centerTextElement">
                            <span id="genreChange" class="redText">Genre: <span id="genreFilter" class="whiteText">(None)</span>
                            <div class="sprite-icons-Up-Button"> </div>
                            </span>
                        </span>
                    </div>   

                    <!-- <hr class="hrClear"> -->
                  </div>
                  <div id="tabs-2">
                    <div class="songkickToggleBlock">
                        <div class="headerToggle headerToggleActive" id="skqArtist" onclick="skqSelectArtist()">
                            <input type="hidden" class="queryType" value="artist"> </input>
                            <span class="centerText headerToggleText"> <span class="centerTextElement">Tracked Artists </span> </span>
                        </div>
                        
                        <div class="headerToggle" id="skqEvent" onclick="skqSelectEvent()">
                            <input type="hidden" class="queryType" value="event"> </input>
                            <span class="centerText headerToggleText"> <span class="centerTextElement" align="center">Added Events </span> </span>
                        </div>
                    </div>
                    <div class="songkickDescription songkickHeaderBlock centerText">
                        <span class="grayText centerTextElement">
                        Enter your Songkick profile to track events and artists you love.

                    </span>

                    </div>

                    <div class="songkickHeaderBlock centerText songkickHeaderUserDiv" id="songkickHeaderUserDiv">
                        <span class="centerTextElement" id="songkickUserChange">
                        <label for="updLocationTxt" class="redText">Songkick User:</label>
                        <!-- <input type="text" name="songkickUserTxt" id="songkickUserTxt" style="width: 80px;"/> -->
                        <span class="whiteText" id="songkickUser"> (enter user) </span>
                        <div class="sprite-icons-Up-Button"> </div>
                        <!-- <input type="button" onclick="songkickUpdateClick()" value="Go"/> -->
                    
                        </span>
                    </div> 
                    <div class="songkickHeaderBlock centerText songkickHeaderEmptyDiv searchBlock-noBorder"> </div>
                


                    
                    <!-- <div style="clear: both;"></div> -->
                  </div>
                </div>
<!--     <div class="tabContainer">
        <div class="myTab">
            Area/Date
        </div>
        <div class="myTab inactiveTab">
            Songkick
        </div>
    </div>
    
    <div id="area-Date-Searcher" class="searchBlock">
        <span class="redText"> Current City: </span>
        <span class="whiteText"> Austin </span>
        <div class="sprite-icons-Up-Button"> </div>
    </div>
    <div style="clear: both;"></div> -->
</div>

<div id="main">
    <!-- <div id="playerContainer2" class="ui-widget-content"> -->
        <!-- pc2starton my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;st -->

        <div id="playerScreen"> 
            
            <div id='youtube-player-container'> </div>


            <!-- bottomButtons -->
<!--             <b>Last.FM info:</b>
            <div id="lastFMInfo"> Test Info</div>
            <br />
            <b> Events:</b>
            <div id="playingInfo"> Test Info</div>
            <br /> -->
<!--         <div class="footer22">
            Inside player container
            </div> -->
        <!-- <hr> -->
        <!-- TODO would be good to get this in a separate border -->
        <div id="playingInfo">
            <div class="right-align-info">
                <div id="playingIcons">
                    <a target="_blank" class="sprite-icons-Share---White" id="infoShareLink">   
                    </a>
                    <a target="_blank" class="sprite-icons-SongKick-Small---Gray" id="infoSongkickLink">   
                    </a>
                    <a target="_blank" class="sprite-icons-LastFM-Small---Gray" id="infoLastfmLink">
                    </a>
                </div>
                <div class="redText rightInfoText" id="playing-Info-Day"></div>
                <div class="whiteText rightInfoText" id="playing-Info-Date">
                    
                </div>
            </div>
            <div class="moreinfoImageDiv">
                <img src="/images/missing_artist.png" alt="an artist" id="info_image" class="moreinfoImage"/>
            </div>
<!--             <div class="playerButtonContainer" align="right">
                <input type="button" onclick="nextVideoClick()" value="Next"/>
            </div>  -->
            <div class="infoText">
            <div class="sprite-icons-Speaker-Small moreInfoIcon"> </div> <span class="redText"> Now Playing: </span>
            <span id="info_artist"> Loading...</span>
        </div>
            
            <div class="infoText">
            <div class="sprite-icons-MapPin moreInfoIcon"> </div> <span class="whiteText"> Venue: </span> <span id="playing-Info-Venue"></span>
            </div>
            
            <span id="info_lastfm"> 
            </span>
        </div>
            <div class="next-Artist-Icon" onclick="nextVideoClick()">
                <div class="next-Artist-Button">
                Next Artist
                <br/>
                <div class="sprite-icons-Next-Track-Arrow centerIcon"> </div>
                </div>
            </div>
        </div> <!-- playerScreen -->
        <!-- <hr> -->
    <!-- </div> playerContainer -->
    <div class="sidebar">
<!--             Quickplay: <input type="button" onclick="quickplayClick()" value="On" />
            <br />
            Headliners Only: <input id="headlinersButton" type="button" onclick="headlinersClick()" value="Off" />
            <br /> -->
 
            <div class="event-container">
                <div class ="upcoming-events">Loading... </div>
                <div class="events-loading">
                    <!-- Loading2... -->
                </div>
            </div>
        <div style="clear: both;"></div>
    </div> <!-- sidebar -->
    <!-- <hr> -->
    <div style="clear: both;"></div>
</div> <!-- main -->

</div> <!-- Sticky Container -->
<div id="stickypush"><div style="clear: both;"></div></div>
</div> <!-- backgroudnImage -->
<div class="footerDiv">
    <div class="footerContainer">
    <span class="poweredBy">
    ShowHear is Powered by:
    <br/>
    <span class="footerIcon"> <a class="sprite-icons-SongKick-Footer" href="http://www.songkick.com/"></a></span>
    
    <span class="footerIcon"> <a class="sprite-icons-LastFM-Footer" href="http://www.last.fm/"></a></span>
    </span>
<a class="sprite-icons-Logo" href=""></a>
    <br/>
    <a href="mailto:showhear@gmail.com"> Contact Us</a> 
    |
    <a href="http://showhear.tumblr.com/"> Blog </a>
    <!-- | About Us -->
    <br/>
    ShowHear.com 2013 - Austin, TX - All rights reserved
    <br/>
    <br/>
    <!-- TODO this takes up more vertical space than needed -->
<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FShowHear&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:65px;" allowTransparency="true"></iframe>
<br/>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://showhear.com" data-via="ShowHear">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
</div>  
</body>
</html>
    