<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/Styles/Site.css" rel="stylesheet" type="text/css" />
    <title>ShowHear - Find Concerts You'll Love</title>
    
    
    <script type="text/javascript" src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.2.custom.js"></script>
    
    <script type="text/javascript" src="Scripts/jquery.ba-outside-events.js"></script>
    <script type="text/javascript" src="Scripts/GigCast.js"></script>
    <script type="text/javascript" src="jquerycookie/jquery.cookie.js"></script>
    <link href="jquery-ui-1.9.2.custom/css/overcast/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
 
    <script id="book_template" type="text/x-jquery-tmpl">
        <li>${name} (${year})</li>
    </script>

    <script id="artist_item_template" type="text/x-jquery-tmpl">
        <div class="artist_item">
            <div onclick="artistDivClick(this.parentNode)" class="ui-state-default" style="display: inline-block;">
                <span class="ui-icon ui-icon-play hover"></span>
            </div>
            <span onclick="artistDivClick(this.parentNode)" class="artist_name">${artistName}</span>
            <span class="artist_genre">
            </span>
            <input type="hidden" class="artistYoutubeID" value=${youtubeID}> </input>
            <input type="hidden" class="artistURI" value=${artistURI}></input>
            <input type="hidden" class="songkickID" value=${songkickID}></input>
        </div>
    </script>

    <script id="artist_lastfm_link" type="text/x-jquery-tmpl">
        <a target="_blank" href=${lastfmURI}>   
            <img src="/images/lastfm_red_17px.png" alt="Last.Fm" class="lastfm_icon"/>
        </a>
    </script>

    <script id="artist_songkick_link" type="text/x-jquery-tmpl">
        <a target="_blank" href=${songkickURI}>   
            <img src="/images/sk_white_pink_icon.png" alt="SK" class="songkick_icon" height="17" width="17"/>
        </a>
    </script>

    <script id="artist_genre_tag" type="text/x-jquery-tmpl">
        <span class="genreTag">${genreName}</span>
    </script>

    <script id="event_item" type="text/x-jquery-tmpl">
        <div class="media_item">
            <div class="event_artist_list"/>
            <div>
                ${date} @ ${venue}
            </div>
            <div style="clear: both;"></div>
        </div>
    </script>

    <script id="info_event" type="text/x-jQuery-tmpl">
        <li>
            ${eventName}
            <a target="_blank" href=${eventPermalink}>
            <div class="ui-state-default" style="display: inline-block;">
                <span class="ui-icon ui-icon-link"></span>
            </div>
            </a>
            <a target="_blank" href=${songkickURI}>   
                <img src="/images/sk_white_pink_icon.png" alt="SK" class="songkick_icon" height="17" width="17"/>
            </a>
        </li>
    </script>

    <script id="info_artist_tmpl" type="text/x-jQuery-tmpl">
        ${artistName}
        <a target="_blank" href=${songkickURI}>   
            <img src="/images/sk_white_pink_icon.png" alt="SK" class="songkick_icon" height="17" width="17"/>
        </a>
    </script>

</head>
<body>

<div id="dialog" title="Update Location">
        <label for="updLocationTxt">New Location</label>
        <input type="text" name="updLocationTxt" id="updLocationTxt" class="text ui-widget-content ui-corner-all" />
</div>

<div id="genreFilterDialog" title="Select Genre">
        <label for="updateGenreText">Genre Filter</label>
        <input type="text" name="updateGenreText" id="updateGenreText" class="text ui-widget-content ui-corner-all" />
</div>


<div class="headerBuffer">
    <div class="myHeader">
        <a href="">
            <span class="headerTitle">ShowHear</span>
            Find Concerts You'll Love
        </a>
        <span class="headerLinks rightFloat">
            <a href="http://showhear.tumblr.com/">
                Blog
            </a>
            <a href="mailto:showhear@gmail.com">
                Contact
            </a>
        </span>
    </div>
</div>

<div id="main">
    <!-- <div id="playerContainer2" class="ui-widget-content"> -->
        <!-- pc2starton my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;st -->

        <div id="playerScreen" class="divborder"> 
            <div id="player"></div>
            
            <div class="playerButtonContainer" align="right">
            <!--     <input type="button" onclick="pauseVideo()" value="Pause" />
            &nbsp;
                <input type="button" onclick="playVideo()" value="Play"/>
            &nbsp;
                <input type="button" onclick="favorite()" value="Favorite"/>
            &nbsp; -->
                <!-- <input type="button" onclick="badLinkClick()" value="Bad Link"/> -->
                <input type="button" onclick="nextVideoClick()" value="Next"/>
            <!--     <input type="button" onclick="testClick()" value="TestButton"/>
            &nbsp; -->
            <!-- <hr> -->
            </div> 


            <!-- bottomButtons -->
<!--             <b>Last.FM info:</b>
            <div id="lastFMInfo"> Test Info</div>
            <br />
            <b> Events:</b>
            <div id="playingInfo"> Test Info</div>
            <br /> -->
<!--         <div class="footer22">
            Inside player container
            </div> -->
        <!-- <hr> -->
        <!-- TODO would be good to get this in a separate border -->
        <div id="playingInfo">
            <div class="moreinfoImageDiv">
                <img src="http://userserve-ak.last.fm/serve/126/14973829.jpg" alt="an artist" id="info_image" class="moreinfoImage"/>
            </div>
            <b> Now Playing: </b>
            <span id="info_artist"> Loading...</span>
            <br/>
            <b> Last.fm Tags: </b> 
            <span id="info_lastfm"> 
            </span>
            <br/>
            <b>Upcoming Shows:</b>
                <ul id="info_shows">
                </ul>
        </div>
        </div> <!-- playerScreen -->
        <!-- <hr> -->
    <!-- </div> playerContainer -->
    <div class="sidebar">
<!--             Quickplay: <input type="button" onclick="quickplayClick()" value="On" />
            <br />
            Headliners Only: <input id="headlinersButton" type="button" onclick="headlinersClick()" value="Off" />
            <br /> -->
            <div class="filterContainer">

                <div id="tabs">
                  <ul>
                    <li><a href="#tabs-1">Area/Date</a></li>
                    <li><a href="#tabs-2">Songkick</a></li>
                  </ul>
                  <div id="tabs-1" style:"overflow:auto; position: relative;">
                   <span id="locationChange"> Shows in: <span id="locationText">(Loading...)</span>
                    <!-- <button id="testbutton" class="iconbutton">Change Location</button> -->
                    <div class="ui-state-default" style="display:inline-block;">
                        <span class="ui-icon ui-icon-circle-triangle-s hover"></span> 
                    </div>
                    </span>
                    <br />

                    <label for="from">From</label>
                    <input type="text" id="from" name="from" style="width: 80px;"/>
                    <label for="to">to</label>
                    <input type="text" id="to" name="to" style="width: 80px;"/>
    <!--                 <br/>

                    <span id="genreChange">Genre Filter: <span id="genreFilter">(None)</span>
                    <div style="display: inline-block" class="ui-state-default">
                        <span class="ui-icon ui-icon-circle-triangle-s" style="display:inline-block"></span>
                    </div>
                    </span> -->
        <!--             <input type="text" size="12" id="StartDateText"/> -
                    <input type="text" size="12" id="EndDateText"/> -->
                    <input type="button" onclick="updateClick()" value="Update" style="float:right; clear:both;"/>
                    <!-- <hr class="hrClear"> -->
                    <div style="clear: both;"></div>
                  </div>
                  <div id="tabs-2">
                     Enter your Songkick profile to track events and artists you love.
                    
                    <br/>
                    Search by: 
                    <form name="myform" class="radioInline" id="songkickQueryType">
                        <input type="radio" name="songkickQueryTypeRadio" value="artist" checked>Tracked Artists
                        <input type="radio" name="songkickQueryTypeRadio" value="event" >Added Events
                    </form>
                    <br/>

                    <label for="updLocationTxt">Songkick User</label>
                    


                    <input type="text" name="songkickUserTxt" id="songkickUserTxt" style="width: 80px;"/>

                    
                    <input type="button" onclick="songkickUpdateClick()" value="Go" style="float:right;"/>
                    <div style="clear: both;"></div>
                  </div>
                </div>

 
            </div>
            <br />
        <div style="clear: both;"></div>
        <div class ="playlist_container">
            Upcoming Shows:
            <div class ="button_container">Loading... </div>
        </div>
        <div style="clear: both;"></div>
    </div> <!-- sidebar -->
    <!-- <hr> -->
    <div style="clear: both;"></div>
</div> <!-- main -->

<div class="footerDiv"> 
<b> Powered By: </b>
<br/>
<a href="http://www.last.fm/"> <img src="/images/lastfm_badge_red.gif" alt="Last.Fm" class="footerImage"/> </a>
<a href="http://www.songkick.com/"> <img src="/images/sk_biglogo.png" alt="Songkick" class="footerImage"/> </a>
</div>  
<hr/>
<!-- <div class="footer2">
    OUtside player container
</div> -->
<!-- on my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;ston my own fdasjoi jifodsjia olfdjsai lofds o;jitgdsla jt;ldast ikjelrw;aij lasj lstatjiis;laitj dl;sfiajf;lkdgsa jl;dsak jfldkasj flkdsa j;ltihjr asl;ith rlsahtn lkjsdahnt hlsrdanthl skatjn lisdjatp ijera ;st
 -->

</body>
</html>
    